In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

### Creaci√≥n de funciones auxiliares

In [76]:
def discretize(df, column):
    q1 = df_final["diff_time_days_minnone"].quantile(.25)
    q2 = df_final["diff_time_days_minnone"].quantile(.5)
    q3 = df_final["diff_time_days_minnone"].quantile(.75)
    df[column+"_in_q1"] = 0
    df[column+"_in_q2"] = 0
    df[column+"_in_q3"] = 0
    df[column+"_in_q4"] = 0
    df[column+"_in_q1"] = list(map(lambda x: 1 if x <=q1 else 0, df[column]))
    df[column+"_in_q2"] = list(map(lambda x: 1 if (q1 < x and x <=q2) else 0, df[column]))
    df[column+"_in_q3"] = list(map(lambda x: 1 if (q2 < x and x <=q3) else 0, df[column]))
    df[column+"_in_q4"] = list(map(lambda x: 1 if x>q3 else 0, df[column]))
    df.drop(column, axis=1, inplace=True)
    return df

In [59]:
def is_object(df,column,object_name):
    df["is_"+str(object_name)] = list(map(lambda x: 1 if x == object_name else 0, df[column]))
    return df

## Cargamos los datasets para construir el dataset final

In [5]:
df_first = pd.read_csv('first_part_dataset.csv')

df_second = pd.read_csv('second_part_dataset.csv')

df_thrid = pd.read_csv('thrid_part_dataset.csv')

In [6]:
df_first.columns.values

array(['Unnamed: 0', 'Android', 'BlackBerry', 'Chrome', 'Computer',
       'FreeBSD', 'Linux', 'Mac', 'Other', 'Smartphone', 'Tablet',
       'Tizen', 'Ubuntu', 'Unknown', 'Windows', 'ad campaign hit',
       'brand listing', 'checkout', 'conversion', 'generic listing',
       'iOS', 'lead', 'search engine hit', 'searched products',
       'staticpage', 'target', 'viewed product', 'visited site',
       'person_id'], dtype=object)

In [7]:
df_first = df_first.rename(columns={'person_id': 'person'})

df_first = df_first.drop(columns=['Unnamed: 0'])

In [8]:
df_second.columns.values

array(['Unnamed: 0', 'person', 'diff_time_days_minnone',
       'diff_time_daysnone', 'diff_time_dayscheckout',
       'diff_time_daysconversion', 'diff_time_daysbrand listing',
       'diff_time_dayssearch engine hit', 'diff_time_start_end', 'model',
       'number_visits_model'], dtype=object)

In [9]:
df_second = df_second.drop(columns=['Unnamed: 0'])

In [10]:
df_thrid.columns.values

array(['Unnamed: 0', 'person', 'COUNT(users_logs)', 'avg_time_events'],
      dtype=object)

In [11]:
df_thrid = df_thrid.drop(columns=['Unnamed: 0'])

In [12]:
df_final = pd.merge(df_first, df_second, on='person', how='left')

df_final = pd.merge(df_final, df_thrid, on='person', how='left')

In [13]:
df_final.columns.values

array(['Android', 'BlackBerry', 'Chrome', 'Computer', 'FreeBSD', 'Linux',
       'Mac', 'Other', 'Smartphone', 'Tablet', 'Tizen', 'Ubuntu',
       'Unknown', 'Windows', 'ad campaign hit', 'brand listing',
       'checkout', 'conversion', 'generic listing', 'iOS', 'lead',
       'search engine hit', 'searched products', 'staticpage', 'target',
       'viewed product', 'visited site', 'person',
       'diff_time_days_minnone', 'diff_time_daysnone',
       'diff_time_dayscheckout', 'diff_time_daysconversion',
       'diff_time_daysbrand listing', 'diff_time_dayssearch engine hit',
       'diff_time_start_end', 'model', 'number_visits_model',
       'COUNT(users_logs)', 'avg_time_events'], dtype=object)

Significado de las columnas:

 - Las columnas 'Android', 'BlackBerry', 'Chrome', 'FreeBSD', 'Linux', 'Mac', 'Tizen', 'Ubuntu', 'Unknown', 'Windows','iOS' indican la cantidad de veces que cada usuario ingreso a la pagina de Trocafone utilizando uno de esos esos sistemas operativos. Por ejemplo, si el valor de 'Android' para un usuario es 2 siginfica que ese usuario entro a la pagina dos veces desde un dispositivo con un sistema operativo Android
 
 - Las columnas 'Computer', 'Smartphone', 'Tablet' indican la cantidad de veces que cada usuario ingreso a la pagina de Trocafone utilizando uno de esos dispositivos
 
 - Las columnas 'ad campaign hit', 'brand listing', 'checkout', 'conversion', 'generic listing', 'lead','search engine hit', 'searched products', 'staticpage','viewed product', 'visited site' indican la cantidad de veces que cada usuario realizo cada uno de esos eventos
 
 - La columna 'diff_time_days_minnone' indica la cantidad de tiempo que paso desde el primer evento que realizo el usuario hasta el 2018/06/01
 
 - La columna 'diff_time_daysnone' indica la cantidad de tiempo que paso desde el ultimo evento que el usuario realizo en la pagina hasta el 2018/06/01
 
 - La columna 'diff_time_dayscheckout' indica la cantidad de tiempo que paso desde que el usuario realizo el ultimo checkout hasta el 2018/06/01
 
 - La columna 'diff_time_daysconversion' indica la cantidad de tiempo que paso desde que el usuario realizo la ultima conversion hasta el 2018/06/01
 
 - La columna 'diff_time_daysbrand listing' indica la cantidad de tiempo que paso desde que el usuario realizo la ultima brand listing hasta el 2018/06/01
 
 - La columna 'diff_time_dayssearch engine hit' indica la cantidad de tiempo que paso desde que el usuario realizo el ultimo engine hit hasta el 2018/06/01
 
 - La columna 'diff_time_start_end' indica la cantidad de tiempo que paso entre el primer evento que realizo el usuario en la pagina y el ultimo
 
 - La columna 'model' indica el modelo de celuar que el usuario mas veces visito
 
 - La columna 'number_visits_model' indica cuantas veces el usuario visito el celular que mas visito
 
 - La columna 'COUNT(users_logs)' indica la cantidad de eventos que el usuario realizo en la pagina
 
 - La columna 'avg_time_events' indica el tiempo promedio que paso entre los eventos realizados por cada usuario

## Reemplazamos con zeros los NaNs

In [14]:
df_final.fillna(value=0,inplace=True)

In [15]:
df_final.columns

Index(['Android', 'BlackBerry', 'Chrome', 'Computer', 'FreeBSD', 'Linux',
       'Mac', 'Other', 'Smartphone', 'Tablet', 'Tizen', 'Ubuntu', 'Unknown',
       'Windows', 'ad campaign hit', 'brand listing', 'checkout', 'conversion',
       'generic listing', 'iOS', 'lead', 'search engine hit',
       'searched products', 'staticpage', 'target', 'viewed product',
       'visited site', 'person', 'diff_time_days_minnone',
       'diff_time_daysnone', 'diff_time_dayscheckout',
       'diff_time_daysconversion', 'diff_time_daysbrand listing',
       'diff_time_dayssearch engine hit', 'diff_time_start_end', 'model',
       'number_visits_model', 'COUNT(users_logs)', 'avg_time_events'],
      dtype='object')

### Eliminamos las columnas con muy pocas variables o alta corrleaci√≥n (Windows ~ Computer)

In [16]:
df_final.drop(["BlackBerry","Chrome","FreeBSD","Linux","Mac","Other","Tizen","Ubuntu","Unknown","Windows"],axis=1,inplace=True)

### Transformamos algunas columnas para que su distribuci√≥n se ajuste a una Chi cuadrado o Normal. Luego discretizamos por cuantiles

In [17]:
df_final.loc[:,"diff_time_daysnone"] = np.log10(df_final["diff_time_daysnone"]+1.)

In [18]:
df_final.loc[:,"diff_time_days_minnone"] = np.log10(df_final.diff_time_days_minnone+1.)

In [19]:
df_final.loc[:,"diff_time_dayssearch engine hit"] = np.log10(df_final["diff_time_dayssearch engine hit"]+1.0)

In [20]:
df_final.loc[:,"COUNT(users_logs)"] = np.log10(df_final["COUNT(users_logs)"]+1.)

In [21]:
df_final.loc[:,"number_visits_model"] = np.log10(1.+df_final.number_visits_model)

In [22]:
df_final.loc[:,"diff_time_daysbrand listing"] = np.log10(01.+df_final["diff_time_daysbrand listing"])

In [ ]:
for column in ["diff_time_days_minnone","diff_time_dayssearch engine hit","COUNT(users_logs)","number_visits_model","diff_time_daysbrand listing","diff_time_daysnone"]:
    df_final = discretize(df_final,column)

In [27]:
df_final["marca"] = df_final.model.str.split(" ",1,expand=True)[0]
df_final["modelo"] = df_final.model.str.split(" ",1,expand=True)[1]

In [28]:
df_final["marca"].value_counts()

iPhone      8017
Samsung     7663
Motorola    2257
LG           301
Lenovo       146
Sony         108
iPad          36
Asus          31
Quantum       11
Name: marca, dtype: int64

In [29]:
df_final["modelo"].value_counts()

6                               1752
5s                              1639
6S                              1361
Galaxy J5                       1022
7                                703
7 Plus                           613
Galaxy S8                        609
Galaxy S7                        604
Galaxy S7 Edge                   603
Galaxy J7 Prime                  489
Moto G2 3G Dual                  404
Galaxy S6 Edge                   393
Galaxy S6 Flat                   386
5c                               352
6S Plus                          344
Galaxy J7                        337
6 Plus                           337
Moto G4 Plus                     313
SE                               311
Galaxy Gran Prime Duos TV        245
4S                               232
Galaxy S8 Plus                   230
5                                223
Moto G3 4G                       191
Galaxy A5 2017                   185
Moto X Play 4G Dual              174
Moto G5 Plus                     169
Galaxy A7 2017                   164
Moto X2                          160
Galaxy A5                        155
                                ...
Xperia Z5                          5
G3 Beat D724                       5
Moto Z Power Edition               4
Air Wi-Fi + 4G                     3
Air 2 Wi-Fi + 4G                   3
Galaxy J7 PRO                      3
Zenfone 6                          2
Galaxy S5 Mini                     2
2 Wi-Fi + 3G                       2
Moto Z2 Force                      2
Muv Pro                            2
Galaxy Tab 3 10.1 Wi-Fi + 3G       2
Air 2 Wi-Fi                        2
Air Wi-Fi                          2
G4 Stylus H630                     2
Live                               1
Galaxy Tab S2 8 Wi-Fi + 4G         1
Galaxy Tab E 9.6 Wi-Fi             1
Mini 3 Wi-Fi + 4G                  1
X Power                            1
Mini 3 Wi-Fi                       1
Mini Wi-Fi                         1
Zenfone 2 Laser                    1
Muv                                1
Galaxy Tab E 7 Wi-Fi               1
Xperia Z5 Premium                  1
Galaxy Tab Pro 10.1 Wi-Fi          1
YOU                                1
Galaxy Tab S 8.4 Wi-Fi + 4G        1
Galaxy S4 i9500                    1
Name: modelo, Length: 162, dtype: int64

In [26]:
df_final["is_iphone"] = list(map(lambda x: 1 if x=="iPhone" else 0, df_final["marca"]))
df_final["is_samsung"] = list(map(lambda x: 1 if x=="Samsung" else 0, df_final["marca"]))
df_final["is_motorola"] = list(map(lambda x: 1 if x=="Motorola" else 0, df_final["marca"]))
df_final["is_lg"] = list(map(lambda x: 1 if x=="LG" else 0, df_final["marca"]))
df_final["is_sony"] = list(map(lambda x: 1 if x=="Sony" else 0, df_final["marca"]))
df_final["is_other"] = list(map(lambda x: 1 if (x!="Sony" and x!="LG" and x!="Motorola" and x!="Samsung" and x!="iPhone") else 0, df_final["marca"]))

In [67]:
pop_models = ['6','5s','6S','Galaxy J5','7','7 Plus','Galaxy S8','Galaxy S7','Galaxy S7 Edge','Galaxy J7 Prime','Moto G2 3G Dual','Galaxy S6 Edge','Galaxy S6 Flat','5c','6S Plus','Galaxy J7','6 Plus','Moto G4 Plus','SE','Galaxy Gran Prime Duos TV','4S','Galaxy S8 Plus','5','Moto G3 4G','Galaxy A5 2017','Moto X Play 4G Dual','Moto G5 Plus','Galaxy A7 2017','Moto X2','Galaxy A5']

In [65]:
for model in pop_models:
    df_final = is_object(df_final,"modelo",model)

In [68]:
df_final["is_other_model"] = list(map(lambda x: 1 if x not in pop_models else 0, df_final["modelo"]))

In [71]:
df_final[["marca","modelo","is_other_model"]]

          marca                modelo  is_other_model
0           NaN                   NaN               1
1        iPhone                     7               0
2        iPhone                    6S               0
3      Motorola       Moto G2 3G Dual               0
4       Samsung        Galaxy S8 Plus               0
5        iPhone                     6               0
6        iPhone                    6S               0
7        iPhone                    5s               0
8       Samsung             Galaxy A5               0
9       Samsung        Galaxy S3 Mini               1
10       iPhone                     6               0
11       iPhone               6S Plus               0
12     Motorola            Moto MAXX                1
13       iPhone                     5               0
14      Samsung             Galaxy J7               0
15       iPhone                    5s               0
16     Motorola           Moto Z Play               1
17      Samsung        Galaxy S8 Plus               0
18          NaN                   NaN               1
19       iPhone                     6               0
20      Samsung             Galaxy S5               1
21      Samsung     Galaxy E5 4G Duos               1
22      Samsung        Galaxy A7 2017               0
23      Samsung    Galaxy Core 2 Duos               1
24           LG              K10 Novo               1
25       iPhone                    5s               0
26       iPhone                    5s               0
27       iPhone                    6S               0
28       iPhone                    SE               0
29       iPhone                     6               0
...         ...                   ...             ...
19384  Motorola            Moto G3 4G               0
19385   Samsung             Galaxy J5               0
19386  Motorola          Moto G4 Plus               0
19387    iPhone                     6               0
19388   Samsung             Galaxy J5               0
19389  Motorola          Moto Z2 Play               1
19390   Samsung  Galaxy J2 4G Duos TV               1
19391    iPhone                    5s               0
19392   Samsung        Galaxy J1 Mini               1
19393    iPhone                    5c               0
19394    iPhone                     6               0
19395   Samsung             Galaxy S5               1
19396   Samsung             Galaxy J5               0
19397    iPhone                    5s               0
19398   Samsung        Galaxy S7 Edge               0
19399    iPhone                    6S               0
19400    iPhone                     5               0
19401   Samsung        Galaxy S7 Edge               0
19402    iPhone                     6               0
19403   Samsung        Galaxy A7 2017               0
19404   Samsung             Galaxy J5               0
19405   Samsung             Galaxy S8               0
19406  Motorola   Moto X Play 4G Dual               0
19407   Samsung        Galaxy S6 Flat               0
19408    iPhone                    6S               0
19409  Motorola          Moto G4 Plus               0
19410  Motorola          Moto G4 Plus               0
19411  Motorola            Moto G3 4G               0
19412   Samsung        Galaxy A5 2017               0
19413    iPhone                7 Plus               0

[19414 rows x 3 columns]